###
# Common editor configuration
# http://editorconfig.org
###

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.php]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true