.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

* {
    border-radius: 0 !important;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

ul > li {
    list-style: none;
    overflow: hidden;
}

.add-new-song {
    margin: 10px;
}

.show-user-list {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.popup-alerts {
    margin: 10px;
}

.badge > span {
    cursor: pointer;
}

.alert.ng-hide-add {
    -webkit-animation: 5s fadeOut ease;
    animation: 5s fadeOut ease;
}

.player {
    width: 300px;
    height: 90px;
    padding: 5px;
    margin: 0 auto;
    background: #EFEFEF;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 4px 0px #000;
    -moz-box-shadow: inset 0px 0px 4px 0px #000;
    box-shadow: inset 0px 0px 4px 0px #000;
}

    .player div.btn-group {
        margin-top: 5px;
    }

    .player .progress-striped {
        margin: 5px 0;
    }

    .player marquee {
        margin-top: 5px;
    }

.wrapper {
    padding: 10px;
    width: 940px;
    margin: 0 auto;
}

    .song-list {
        overflow-y: scroll;
        overflow-x: hidden;
        height:500px;
        padding-right: 5px;
    }

    .song-list > li span.song-title {
        word-wrap: break-word;
    }

.user-list {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 315px;
    padding-right: 40px;
    z-index: 9999;
}

    .user-list > ul {
        height: 400px;
        overflow-y: scroll;
        margin-bottom: 70px;
    }

        .user-list > ul > li{
            margin-right: 10px;
        }

            .user-list > ul > li .panel-heading{
                text-align: center;
            }