body {
    font-family: 'Roboto', sans-serif;
    background-color: #FBE9E7;
    color: #263238;
}

.info {
    padding: 150px;
    text-align: center;
}

    .info h2 {
        width: 100%;
        font-size: 72px;
        margin: 0;
    }

        .info h2 span {
            padding-bottom: 5px;
            border-bottom: 3px solid black;
        }

    .info p {
        font-size: 24px;
    }

main nav {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #FF5722;
    text-align: center;
    padding: 5px 0;
}
    main nav a {
        display: none;
        width: 128px;
        height: 64px;
        line-height: 64px;
        cursor: pointer;
        font-size: 18px;
        margin-left: 5px;
    }

    main nav a.active {
        cursor: default;
        border: 1px dashed;
    }

    main nav a:not(.active):hover {
        -webkit-animation-name: tada;
        animation-name: tada;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
    }

    @-webkit-keyframes tada {
        0% {-webkit-transform: scale(1);}
        10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
        30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
        40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
        100% {-webkit-transform: scale(1) rotate(0);}
    }
    @keyframes tada {
        0% {transform: scale(1);}
        10%, 20% {transform: scale(0.9) rotate(-3deg);}
        30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
        40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
        100% {transform: scale(1) rotate(0);}
    }