.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

main {
    padding: 10px;
    width: 940px;
    margin: 0 auto;
}

ul > li {
    list-style: none;
    overflow: hidden;
}

.btn {
    border-radius: 0 !important;
}

.add-new-song {
    margin-left: 10px;
    margin-top: 10px;
}

.badge > span {
    cursor: pointer;
}

.alert.ng-hide-add {
    -webkit-animation: 5s fadeOut ease;
    animation: 5s fadeOut ease;
}

.player {
    width: 300px;
    height: 80px;
    margin: 0 auto;
    background: #EFEFEF;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 4px 0px #000;
    -moz-box-shadow: inset 0px 0px 4px 0px #000;
    box-shadow: inset 0px 0px 4px 0px #000;
}

    .player div.btn-group {
        margin-top: 10px;
    }

    .player div > marquee {
        margin-top: 2px;
    }