<div class="modal-header">
    <h3 class="modal-title">{{ 'votes.title'|trans }}</h3>
</div>
<div class="modal-body">
    <ul class="list-group">
        {% for vote in votes %}
            <li class="list-group-item">
                <span class="badge">
                    <span>{{ vote.isDislike ? 'votes.dislike'|trans : 'votes.like'|trans }}</span>
                </span>
                {{ vote.author.fullname }}
            </li>
        {% endfor %}
    </ul>
</div>
<div class="modal-footer">
</div>