<!DOCTYPE html>
<head>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Алексей Степанков (XeuRun){% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <meta name="keywords" content="Степанков, Алексей, Алекс">
        <meta name="description" content="Сайт Алексея Степанкова (XeuRun)">
        <meta name="author" content="Алексей Степанков (XeuRun)">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
