<div ng-controller="NewSongFormController as newSongForm" class="pull-left">
    <a class="add-new-song btn btn-primary btn-lg" ng-click="newSongForm.open()">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>