<section class="wrapper" ng-controller="ListController as list">
    <div>
        <h2 style="text-align: center">Плейлист</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="list.onlyMy" btn-radio="false">Все</label>
                    <label class="btn btn-primary" ng-model="list.onlyMy" btn-radio="true">Мои</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="list.top" btn-radio="false">Последние</label>
                    <label class="btn btn-primary" ng-model="list.top" btn-radio="true">Топ</label>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="list.searchText" placeholder="Поиск...">
                    <span class="input-group-btn">
                        <button type="button" ng-click="list.searchText = ''" class="btn btn-default" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        </br>
        <ul class="list-group song-list" lr-infinite-scroll="list.songManager.getNextBlock" scroll-threshold="200" time-threshold="600" ng-init="list.songManager.getNextBlock()">
            <li hg-cloak ng-repeat="song in list.songManager.getSongs() | filterObjectBy:{ 'authorId': list.onlyMy ? list.userManager.getCurrentUser().getId() : '' } | filterObjectBy:list.searchText:'title' | orderObjectBy:list.top ? 'counter' : 'id':list.top" ng-class="{disabled: song.isDisabled()}" class="ng-cloak list-group-item">
                <span class="badge">
                    <span ng-hide="song.voted" ng-click="list.songManager.voteForSong(song.id, true)" class="glyphicon glyphicon-hand-up"></span>
                    <span ng-hide="song.voted" ng-click="list.songManager.voteForSong(song.id, false)" class="glyphicon glyphicon-hand-down"></span>
                    <span ng-hide="song.disabled" ng-click="list.play(song.id)" ng-class="{'glyphicon-play': !list.player.getState(song.getId()).getSongId() || !list.player.getState(song.getId()).isPlaying(), 'glyphicon-stop': list.player.getState(song.getId()).isPlaying()}" class="glyphicon"></span>
                    <span ng-show="(list.songManager.getSong(song.getId()).isMy() || list.userManager.getCurrentUser().isAdmin()) && !song.isDisabled()" ng-click="list.songManager.deleteSong(song.getId())" class="glyphicon glyphicon-remove"></span>
                    <span ng-click="list.open(song.getId())">[[ song.counter ]]</span>
                </span>
                <span class="song-title">[[ song.title ]]</span>
                <small class="label label-default" ng-class="{hidden: !song.getArtist().length}"><br>Исполнитель: [[ song.getArtist() ]]</small>
                <small class="label label-default"><br>Добавил: [[ list.userManager.getUser(song.authorId).getFullname() ]]</small>
            </li>
        </ul>
    </div>
</section>