<div ng-controller="PopupMessageController as popupMessage" class="popup-alerts">
    <alert hg-cloak class="ng-cloak" ng-repeat="popup in popupMessage.popups | reverse | limitTo:3" ng-show="popup.show" type="[[ popup.type ]]">
        [[ popup.message ]]
    </alert>
</div>