{% extends 'MainBundle::layout.html.twig' %}

{% block body %}
    <main>
        <section class="info">
            <h2>
                <span>Алексей Степанков</span>
            </h2>
            <p>Разработчик</p>
        </section>
        <section class="navigation">
            <nav>
                <a class="active">Я</a>
                <a>Проекты</a>
                <a>Контакты</a>
            </nav>
        </section>
    </main>
{% endblock %}