{% extends 'MainBundle::layout.html.twig' %}

{% block body %}
    <div ng-controller="PopupMessageController as popupMessage" class="pull-right popup-alerts">
        <alert hg-cloak class="ng-cloak" type="[[ popupMessage.type ]]" ng-show="popupMessage.show">[[ popupMessage.message ]]</alert>
        <alert hg-cloak class="ng-cloak" ng-repeat="popup in popupMessage.popups" type="[[ popup.type ]]">[[ popup.message ]]</alert>
    </div>
    <div ng-controller="ModalFormController as modalForm" class="pull-left">
        <a class="add-new-song btn btn-primary btn-lg" ng-click="modalForm.open()">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div ng-controller="PlayerController as player">
        <div hg-cloak class="ng-cloak player">
            <div class="btn-group" role="group">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary btn-lg" ng-disabled="player.playing == null" ng-click="player.play()">
                        <span ng-hide="player.playing" class="glyphicon glyphicon-play"></span>
                        <span ng-show="player.playing" class="glyphicon glyphicon-pause"></span>
                    </a>
                    <a class="btn btn-primary btn-lg" ng-click="player.next()">
                        <span ng-show="player.song" class="glyphicon glyphicon-forward"></span>
                        <span ng-hide="player.song" class="glyphicon glyphicon-cd"></span>
                    </a>
                {% endif %}
                <a class="btn btn-primary btn-lg" ng-click="player.mute()">
                    <span ng-hide="player.muted" class="glyphicon glyphicon-volume-down"></span>
                    <span ng-show="player.muted" class="glyphicon glyphicon-volume-up"></span>
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group-vertical" role="group" style="margin-left: 3px;">
                        <a style="margin-top: 1px;" ng-disabled="!player.song" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-chevron-up" ng-click="player.setVolume(true)"></span>
                        </a>
                        <a style="margin-top: 1px;" ng-disabled="!player.song" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-chevron-down" ng-click="player.setVolume(false)"></span>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div>
                <marquee scrollamount="3">[[ player.song.title ]]</marquee>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <section class="song-list" ng-controller="ListController as list">
            <div>
                <h2 style="text-align: center">Плейлист</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" ng-class="{active: !list.onlyMy}" ng-click="list.onlyMy = false; list.setId('');">
                                <input type="radio" name="options" autocomplete="off" checked>Все
                            </label>
                            <label class="btn btn-primary" ng-class="{active: list.onlyMy}" ng-click="list.onlyMy = true; list.setId();">
                                <input type="radio" name="options" autocomplete="off">Мои
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" ng-class="{active: !list.top}" ng-click="list.top = false;">
                                <input type="radio" name="options" autocomplete="off" checked>Последние
                            </label>
                            <label class="btn btn-primary" ng-class="{active: list.top}" ng-click="list.top = true;">
                                <input type="radio" name="options" autocomplete="off">Топ
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="list.searchText" placeholder="Поиск...">
                            <span class="input-group-btn">
                                <button type="button" ng-click="list.searchText = ''" class="btn btn-default" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                </br>
                <ul style="overflow-y: scroll;overflow-x: hidden;height:500px;" class="list-group" lr-infinite-scroll="list.nextBlock" scroll-threshold="200" time-threshold="600">
                    <li hg-cloak ng-repeat="song in list.songs | filterObjectBy:{ 'author': list.authorId } | filterObjectBy:list.searchText:'title' | orderObjectBy:list.top ? 'counter' : 'id':true" ng-class="{disabled: song.disabled}" class="ng-cloak list-group-item">
                        <span class="badge" ng-hide>
                            <span ng-click="list.vote([[ song.id ]], true)" class="glyphicon glyphicon-hand-up"></span>
                            <span ng-click="list.vote([[ song.id ]], false)" class="glyphicon glyphicon-hand-down"></span>
                            <span ng-click="list.play([[ song.id ]])" ng-class="{'glyphicon-play': !list.player.getState([[ song.id ]]) || list.player.getState([[ song.id ]]).pause, 'glyphicon-stop': list.player.getState([[ song.id ]]).playing}" class="glyphicon"></span>
                            {% if is_granted('ROLE_ADMIN') %}
                                <span ng-click="list.delete([[ song.id ]])" class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                            [[ song.counter ]]
                        </span>
                        <span>[[ song.title ]]</span>
                        <small class="label label-default" ng-class="{hidden: !song.artist.length}"><br>Исполнитель: [[ song.artist ]]</small>
                        <small class="label label-default"><br>Добавил: [[ song.author ]]</small>
                    </li>
                </ul>
            </div>
        </section>
        <section ng-controller="UserListController as userlist" class="user-list">
            <ul ng-show="userlist.show">
                <li hg-cloak ng-repeat="user in userlist.users" class="ng-cloak panel panel-default">
                    <div class="panel-heading">
                        <h4><span ng-class="user.admin ? 'label-danger' : userlist.isCurrentUser(user.id) ? 'label-success' : 'label-primary'" class="label">[[ user.fullname ]]</span></h4>
                    </div>
                    <div class="panel-body">
                        <span class="label label-default">Количество голосов: [[ user.votes ]]</span>
                        <span class="label label-default">Количество добавлений: [[ user.songs ]]</span>
                    </div>
                </li>
            </ul>
            <a class="show-user-list btn btn-primary btn-lg" ng-click="userlist.show = !userlist.show">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </section>
    </div>
{% endblock %}